<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="" />

    <title>Plagiary - Check</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/linecons/css/linecons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/fontawesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xenon-core.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xenon-forms.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xenon-components.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xenon-skins.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">

    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body">


<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
    <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
    <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
    <div class="main-content">

        <nav class="navbar user-info-navbar"  role="navigation"><!-- User Info, Notifications and Menu Bar -->

            <!-- Right links for user info navbar -->
            <ul class="user-info-menu right-links list-inline list-unstyled">
                <li class="dropdown user-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ url_for('static', filename='images/user-4.png')}}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                        <span>
								{{ user['email'] }}
								<i class="fa-angle-down"></i>
							</span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--<i class="fa-user"></i>-->
                        <!--Profile-->
                        <!--</a>-->
                        <!--</li>-->
                        <li class="last">
                            <a href="/logout">
                                <i class="fa-lock"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </nav>

        <div class="page-title">

            <div class="title-env">
                <h1 class="title">Check Text For Plagiary</h1>
                <p class="description">Input your text and check</p>
            </div>

        </div>
        <!-- Basic Setup -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="width:100%;">Your Text </h3>

            </div>
            <div class="panel-body">
                {% if plagiat is defined and plagiat > 0 %}
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        Your text is {{plagiat*100}}% plagiary!
                    </div>
                </div>
                {% endif %}
                {% if plagiat is defined and plagiat == 0 %}
                <div class="col-md-12">
                    <div class="alert alert-success">
                        Your text is excellent!
                    </div>
                </div>
                {% endif %}

                <form class="form form-horizontalr" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="text" required rows="15" placeholder="Your text here!" class="form-control">{% if text is defined %}{{text}}{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-lg btn-success btn-block">Check for plagiary</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <footer class="main-footer sticky footer-type-1">

            <div class="footer-inner">

                <!-- Add your copyright text here -->
                <div class="footer-text">
                    &copy; 2016
                    <strong>Platon</strong>
                </div>


                <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                <div class="go-up">

                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>

                </div>

            </div>

        </footer>
    </div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/TweenMax.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/resizeable.js')}}"></script>
<script src="{{ url_for('static', filename='js/joinable.js')}}"></script>
<script src="{{ url_for('static', filename='js/xenon-api.js')}}"></script>
<script src="{{ url_for('static', filename='js/xenon-toggles.js')}}"></script>
<script src="{{ url_for('static', filename='js/datatables/js/jquery.dataTables.min.js')}}"></script>

<!-- JavaScripts initializations and stuff -->
<script src="{{ url_for('static', filename='js/xenon-custom.js')}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='js/datatables/dataTables.bootstrap.css')}}">


<!-- Imported scripts on this page -->
<script src="{{ url_for('static', filename='js/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{ url_for('static', filename='js/datatables/yadcf/jquery.dataTables.yadcf.js')}}"></script>
<script src="{{ url_for('static', filename='js/datatables/tabletools/dataTables.tableTools.min.js')}}"></script>

</body>
</html>