<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;../src/main/java&quot;,&quot;THEME&quot;:&quot;kurstheme&quot;}">
  <meta name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-vertical-layout spacing size-full margin> 
   <vaadin-form-layout size-full> 
    <vaadin-label size-auto plain-text _id="title">
      Login window 
    </vaadin-label> 
    <vaadin-text-field caption="Login:" width="210px" _id="login"></vaadin-text-field> 
    <vaadin-password-field caption="Password:" width="210px" _id="pass"></vaadin-password-field> 
    <vaadin-horizontal-layout spacing> 
     <vaadin-button plain-text _id="signIn">
       Login 
     </vaadin-button> 
     <vaadin-button plain-text _id="signUp">
       Registration 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-form-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>