<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;../src/main/java&quot;,&quot;THEME&quot;:&quot;kurstheme&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-vertical-layout spacing size-full margin> 
   <vaadin-horizontal-layout width-full> 
    <vaadin-vertical-layout caption="List of orders" _id="orders"></vaadin-vertical-layout>
    <vaadin-vertical-layout spacing> 
     <vaadin-button plain-text _id="myOrders" :center>
       My orders
     </vaadin-button> 
     <vaadin-label size-auto plain-text :center>
      Search filters:
     </vaadin-label> 
    </vaadin-vertical-layout> 
   </vaadin-horizontal-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>