<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;../src/main/java&quot;,&quot;THEME&quot;:&quot;kurstheme&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-horizontal-layout size-full> 
   <vaadin-vertical-layout> 
    <vaadin-label size-auto plain-text _id="title">
      Name
    </vaadin-label> 
    <vaadin-label plain-text _id="price">
      Price
    </vaadin-label> 
   </vaadin-vertical-layout> 
   <vaadin-vertical-layout> 
    <vaadin-button plain-text _id="info" :middle :center>
      Information
    </vaadin-button> 
   </vaadin-vertical-layout> 
  </vaadin-horizontal-layout>  
 </body>
</html>